<div id="WELCOMEBACKTO2CHAT" style="
    position: fixed;
    background: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    ">
        <div style="
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 10px;
            top: 50%;
            left: 50%;
            border-radius: 7px;
            transform: translate(-50%, -50%);
            width: 50%;
            /* height: 35%; */
            background:
            var(--background-2);
            padding: 15px;
            ">
            <h2>Welcome to 2chat</h2>
            <p>Welcome back, fixed some bugs, and mainly fixed the Swear filter. If you experience any slurs, swears please DM me on discord. My username is in the repl description</p>
    <a style="
        width: 100%;
        height: 25px;
        border-radius: 7px;
        background: var(--accent-1);
        display: flex;
        align-items: center;
        padding: 19px;
        justify-content: center;
        cursor: pointer;
        " onclick="document.getElementById('WELCOMEBACKTO2CHAT').remove()">Close</a>
            </div>
    </div>