<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /><link href="/css/Home.css" rel="stylesheet" />
	
	<% if (cpt == false) { %>
		
		<style>
			.pfp {
				height: 45px;
				width: 45px;
			}
		</style>
	<% } %>
  <title><%= name %></title>
</head>

<body>
		<%- include('./ann.html') %>
		<div class="joinroom-wrapper" id="joinroom-wrapper" onclick="">
		<div class="joinroom" style="z-index:13796;">
			<h2>Join Room</h2>
			<p>You can type any thing below, and it will redirect you. Even if the channel is non existant, it will create it!</p>
    	<input id="rmcd" class="rm" placeholder="Room Name" type="text">
    	<input class="rm" type="submit" value="Join" onclick="window.location.href = '/channels/' + document.getElementById('rmcd').value">
    <input class="button" onclick="document.getElementById('joinroom-wrapper').style.display = 'none'" value="Close" style="text-align:center;"></input>
		</div>	
	</div>
		<div class="joinroom-wrapper" id="joinvc-wrapper" onclick="">
		<div class="joinroom" style="z-index:13796;">
			<h2>Join VC</h2>
			<p>You can type any thing below, and it will redirect you. Even if the voice chat is non existant, it will create it!</p>
    	<input id="rmcdd" class="rm" placeholder="Voice Chat Name" type="text">
    	<input class="rm" type="submit" value="Join" onclick="window.location.href = '/voice/' + document.getElementById('rmcdd').value">
    <input class="button" onclick="document.getElementById('joinvc-wrapper').style.display = 'none'" value="Close" style="text-align:center;"></input>
		</div>	
	</div>
  <nav id="nav">
				<span style="cursor:pointer;" onclick="togglenav()" class="material-symbols-outlined">
menu
</span>
		<div id="navitems">
			    <h3><%= name %></h3>
    <p>Welcome, <%= user.name || 'please login!' %></p>
    <a class="button <%= channel == 'lobby' ? 'active' : '' %>" href="/channels/lobby">#lobby</a>
    <a class="button <%= channel == 'example' ? 'active' : '' %>" href="/channels/example">#example</a>
    <a class="button <%= channel == 'code-help' ? 'active': '' %>" href="/channels/code-help">#code-help</a>
    <a class="button <%= channel == 'cleverbot' ? 'active': '' %>" href="/channels/cleverbot">#cleverbot</a>      
    <a class="button" onclick="document.getElementById('joinroom-wrapper').style.display = 'flex'">Join Room</a>
    <a class="button" onclick="document.getElementById('joinvc-wrapper').style.display = 'flex'">Join Voice</a>
		<hr>
        <label>Change Theme</label>
<select id="ThemeSwitchSelectMenu">
            <option id="sel">Select</option>
            <option id="furret">Furret.CSS</option>
        <option id="replit">Replit</option><option id="discord">Discord</option></select>
    <hr>
    <a class="button" id="downloadapp" href="/download">Download App</a>
		</div>
  </nav>



  <div class="container" id="container">
    <div id="chat_wrapper">
      <div id="chat_header">
        <h4>#<%= channel %></h4>
        <p class="desc">This is the <%= channel %> channel.</p>
      </div>
      <div id="chat">
				<% cachedMessages?.map(m => { %>
				<div id="message">
		<div style="display:flex;align-items:center;">
			<img class="pfp" src="<%= m.pfp %>">
			<span id="author"><%- m.author %></span>
		</div>
		<p id="text"><%- m.content %></p>
		</div>
				<% }) %>
			</div>
    </div>
    <div id="chat_inputs">
      <input type="text" id="sendmsg" autocomplete="off" placeholder="Message #<%= channel %>" />
      <input type="submit" id="smbt" value="Send" />
    </div>
  </div>
  <div class="login" id="login">
    <script authed="location.reload()" src="https://auth.util.repl.co/script.js"></script>

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://<%= name %>.bddy.repl.co/js/main.js"></script>
  <script u="<%= user.name %>" c="<%= channel %>" src="https://<%= name %>.bddy.repl.co/js/Socket.js"></script>
</body>

</html>