<html>
	<head>
		<meta property="og:title" content="<%= name %> | Download" />
		<meta property="og:description" content="Download the <%= name %> app today!" />

		<link href="/css/Home.css" rel="stylesheet">
	</head>
	<body style="
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 25px;
		">
		<p>Download the <%= name %> app today!</p>
		<a href="/2chat-installer-win.exe" class="download_2chat_button">Download (Windows)</a>
		<a href="/2chat.app.zip" class="download_2chat_button">Download (Mac)</a>
	</body>
</html>