<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /><link href="/css/Home.css" rel="stylesheet" />
  <title><%= name %></title>
</head>

<body>

		<%- include('./ann.html') %>
	
		<div class="joinroom-wrapper" id="joinroom-wrapper" onclick="">
		<div class="joinroom" style="z-index:13796;">
			<h2>Join Room</h2>
			<p>You can type any thing below, and it will redirect you. Even if the channel is non existant, it will create it!</p>
    	<input id="rmcd" class="rm" placeholder="Room Name" type="text">
    	<input class="rm" type="submit" value="Join" onclick="window.location.href = '/channels/' + document.getElementById('rmcd').value">
    <input class="button" onclick="document.getElementById('joinroom-wrapper').style.display = 'none'" value="Close" style="text-align:center;"></input>
		</div>	
	</div>
		<div class="joinroom-wrapper" id="joinvc-wrapper" onclick="">
		<div class="joinroom" style="z-index:13796;">
			<h2>Join VC</h2>
			<p>You can type any thing below, and it will redirect you. Even if the voice chat is non existant, it will create it!</p>
    	<input id="rmcdd" class="rm" placeholder="Voice Chat Name" type="text">
    	<input class="rm" type="submit" value="Join" onclick="window.location.href = '/voice/' + document.getElementById('rmcdd').value">
    <input class="button" onclick="document.getElementById('joinvc-wrapper').style.display = 'none'" value="Close" style="text-align:center;"></input>
		</div>	
	</div>
  <nav id="nav">
				<span style="cursor:pointer;" onclick="togglenav()" class="material-symbols-outlined">
menu
</span>
		<div id="navitems">
		
    <h3><%= name %> Voice</h3>
    <p>Welcome, <%= user.name %></p>
    <a class="button <%= channel == 'General' ? 'active' : '' %>" href="/voice/General">General</a>
    <a class="button <%= channel == 'Example' ? 'active' : '' %>" href="/voice/Example">Example</a>
    <a class="button" onclick="document.getElementById('joinroom-wrapper').style.display = 'flex'">Join Room</a>
    <a class="button" onclick="document.getElementById('joinvc-wrapper').style.display = 'flex'">Join Voice</a>
		<hr>
        <label>Change Theme</label>
<select id="ThemeSwitchSelectMenu">
            <option id="sel">Select</option>
            <option>Furret CSS</option>
        <option>Replit</option><option>Discord</option></select>
    <hr>
    <a class="button" id="downloadapp" href="/download">Download App</a>
		</div>
  </nav>



  <div class="container" id="container">
		<div>
    <div id="chat_wrapper">
      <div id="chat_header">
        <h4><%= channel %></h4>
        <p class="desc">This is the <%= channel %> voice channel.</p>
      </div>
      <div class="users">
        <!-- 
          Not speaking: <img class="user" id="USER_ID" src="USER_PFP" alt="USER_NAME"/>
          Speaking: <img class="user speaking" id="USER_ID" src="USER_PFP" alt="USER_NAME"/>
        -->
      </div>
			<div style="
				display: flex;
				flex-direction: row;
				gap: 45px;
				justify-content: center;
				margin-top: 15px;
				width: 100%;">
				<label class="mute_form_control">
					<span>Mute</span>
					<input id="Mute_Checkbox" type="checkbox" />
				</label>
				<label class="mute_form_control">
					<span>Deafen</span>
					<input id="Deafen_Checkbox" type="checkbox" />
				</label>
			</div>
<!-- 			<div style="width: auto;">
				<label for="mutebutn">mute</label>
				<input name="mutebutn" type="checkbox" id="mute_checkbox" />
			</div> -->
		</div>
		</div>
		<iframe src="/" style="
    border: 0;
    height: 100%;
"></iframe>
  </div>
  <div class="login" id="login">
    <script authed="location.reload()" src="https://auth.util.repl.co/script.js"></script>

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
  <script c="<%= channel %>" src="/js/VoiceSocket.js"></script>
</body>

</html>