@import url("https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");


:root {
    --primary-1: #f3f3f3;
    --primary-2: #e3e3e3;
    --primary-3: #bfbfbf;
    --accent-1: #59a6b8;
    --accent-2: #107fae;
    --accent-3: #0c6388;
    --background-1: #41405c;
    --background-2p5: #302f46;
    --background-2: #272639;
    --background-3: #14131e;
    --highlight-color: rgba(15,154,210,.8);
    --marked-color: rgba(68,50,100,.8);
    --selection-color: rgba(15,154,210,.2);
    --date-icon-filter: invert(87%) sepia(35%) saturate(1833%) hue-rotate(161deg) brightness(77%) contrast(83%);
    --font-display: "Outfit",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-body: "Outfit",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-monospace: "DM Mono",monospace;
}

.HAMBURGER_MENU_ICON {
	position: absolute;
	top: 10px;
	left: 10px;
	margin-bottom: 10px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-display);
	color: var(--primary-2);
	transition: all 225ms;
}

html, body {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	background: var(--background-3);
}

nav {
	display: flex;
	flex-direction: column;

	gap: 5px;

	height: 100%;
	width: 200px;
	overflow-y: auto;
}

nav span {
/* 	padding: 21px 15px; */
	padding-top: 21px;
	padding-left: 15px;
	padding-right: 5px;
}

nav div {
	display: flex;
	flex-direction: column;
	padding: 15px;

	gap: 5px;

	height: 100%;
	width: 100%;
	overflow-y: auto;
}

nav hr {
	border: none;
	border-top: 1px solid var(--background-1);
}

.material-symbols-outlined {
	user-select: none;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.login {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.login button {
	width: calc(100%-200px);
	background: var(--background-2);
	border: 0px;
	border-radius: 3px;
	padding: 15px;
	cursor: pointer;
}

.container #chat_wrapper {
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 100%;
	height: calc(100% - 80px);
}

.container #chat_wrapper #chat_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 35px;
	width: 100%;
	user-select: none;
	
}

.container #chat_wrapper #chat_header .desc {
	color: var(--background-1)
}
.container #chat_wrapper #chat_header * {
	margin-right: 15px;
}

.container #chat_wrapper #chat {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	overflow-y: auto;
	height: calc(100% - 35px);
	width: 100%;
}

.container #chat_wrapper #chat #message {
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	padding: 10px;
	margin: 3px 0px;
}

.container #chat_wrapper #chat #message:hover {
/* 	background: var(--background-2); */
}

.container #chat_wrapper #chat #message div #author {
	font-size: 18px;
	font-weight: 500;
	    display: flex;
    align-items: center;
    flex-direction: row;
}

.container #chat_wrapper #chat #message div #date {
	font-size: 14px;
	color: var(--primary-3);
	margin-left: 10px;
}

.container #chat_inputs {
	display: flex;
	flex-direction: row;
	padding: 15px;
	height: 80px;
	width: 100%;
}

.container #chat_inputs input[type="text"] {
	width: 100%;
	background: var(--background-2);
	border: 0px;
	border-radius: 3px;
	outline: none;
	padding: 0px 10px;
}

.container #chat_inputs input[type="text"]:hover,.container #chat_inputs input[type="submit"]:hover {
	background: var(--background-1);
}

.container #chat_inputs input[type="submit"] {
	width: 105px;
	background: var(--background-2);
	border: 0px;
	border-radius: 3px;
	padding: 0px 10px;
	margin-left: 5px;
	cursor: pointer;
}

/* width */
::-webkit-scrollbar {
	margin-left: 15px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-1);
}

#bottag {
    padding: 3px;
    color: var(--primary-2);
    background: var(--accent-2);
    border-radius: 5px;
    font-size: 12px;
	margin-right: 10px;
	user-select: none;
}

	img.pfp {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    border: 0px;
}

#text {
	margin-top: 10px;
}

.button {
	padding: 10px;
	border-radius: 7px;
	margin-top: 5px;
	cursor: pointer;
	text-decoration: none;
}

.button:hover {
	background: var(--background-2)
}

.active {
	font-weight: bold;
}

.emoji {
	height: 25px;
	width: 25px;
}

.joinroom-wrapper {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,.3);
    left: 0;
	padding: 15px;
    height: 100%;
    flex-direction: column;
/*     justify-content: center; */
    align-items: center;
}

.joinroom {
	    display: flex;
    flex-direction: column;
    padding: 39px;
    width: 452px;
    gap: 10px;
    height: auto;
    background: var(--background-2);
    border-radius: 9px;
    align-items: center;
}

.joinroom input {
	    background: var(--background-3);
    outline: 0;
    border: 0;
    color: #fff;
    padding: 11px 14px;
    width: 100%;
    border-radius: 7px;
}

.joinroom input[type="submit"]:hover {
	    background: var(--background-1);
	cursor: pointer;
}

code,samp{background:var(--background-2);border-radius:.5rem;color:var(--primary-2);font-family:var(--font-monospace);font-size:16px;overflow-x:auto;padding:.25rem}

img.user {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 10px 10px;
}


.userVoiceChatProfilePicture {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.download_2chat_button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;
	width: 205px;
	text-decoration: none;
	background: var(--accent-2);
}

.download_2chat_button:hover {
	background: var(--accent-3);
}

.mute_form_control {
    font-family: system-ui, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    width: 35px;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mute_form_control input {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
	border-radius: 50%;
}

.mute_form_control input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
	  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
	border-radius: 50%;
  box-shadow: inset 1em 1em var(--accent-2);
}

.mute_form_control input:checked::before {
  transform: scale(1);
}

#ThemeSwitchSelectMenu {
	color: #000;
	outline: 0;
	border-radius: 7px;
	padding: 5px 10px;
}
#ThemeSwitchSelectMenu option {
	color: #000;
	outline: 0;
	border-radius: 7px;
	padding: 5px 10px;
}

.epic_rainbow_bg {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

img {
	max-width: 700px;
	max-height: 500px;
}